@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  /* Define Animation Utilities */
  --animate-blob: blob 7s infinite;
  --animate-gridMove: gridMove 20s linear infinite;
  --animate-fadeIn: fadeIn 0.5s ease-out forwards;
  --animate-slideUp: slideUp 0.6s ease-out forwards;
  --font-display: 'Roboto', sans-serif;
/* Breakpoint */
   --breakpoint-mobile: 480px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-wide: 1280px;

  /* Add Your Keyframes */
  @keyframes blob {
    0%, 100% { transform: translate(0, 0) scale(1); }
    33% { transform: translate(30px, -50px) scale(1.1); }
    66% { transform: translate(-20px, 20px) scale(0.9); }
  }

  @keyframes gridMove {
    0% { background-position: 0 0; }
    100% { background-position: 40px 40px; }
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
  }

  @keyframes slideUp {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
  }
}
